.aboutUs {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    background-color: whitesmoke;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUsText {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.about__header_section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutUs_logo{
    width: 8%;
    margin-left: -7%;
    margin-right: 5%;
}
.aboutUsText img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.aboutUs_title {
    color: #ba0101;
    text-transform: uppercase;
}

.aboutUsParts {
    width: 100%;
    text-align: left;
}

.aboutUsParts strong {
    color: #ba0101;
}
