footer {
    width: 100%;
    height: 350px;
    background-color: #2c3e50;;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden;
}

footer a {
    color: whitesmoke;
    font-weight: normal;
}

.footer__content {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer__section1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    color: #ba0101;
    font-weight: bold;
    /*width: 30%;*/
    height: 55%;
}

.footer__section1 .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 40%;
}

.footer__section1 h3 {
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    margin-top: -10px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
}

.footer__section1 span {
    text-shadow: 3px 3px 3px black;
}

.footer__section1 span svg {
    box-shadow: 1px 1px 5px black;
    border-radius: 50%;
}

.footer__section1 a {
    text-decoration: underline;
}

.footer__section1 a:hover {
    transition-duration: 1s;
    color: grey;
}

.footer__logo {
    width: 270px;
    height: 70px;
    object-fit: fill;
    border-radius: 8px;
    filter: contrast(0.8) drop-shadow(2px 4px 6px black);
    opacity: 0.5;
}

.footer__logo:hover {
    opacity: 1;
    filter: contrast(1) drop-shadow(2px 4px 6px black);
    cursor: pointer;
    border: 1px solid black;
}

.footer__section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ba0101;
    width: 30%;
}

.footer__section2:hover {
    box-shadow: 3px 3px 10px white;
    transition-duration: 2s;
    border-color: #ba0101;
}

.footer__section3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: #ba0101;
    font-weight: bold;
    width: 17%;
    height: 40%;
}

.footer__section3 h3 {
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 3px 3px 3px black;
    margin-top: -30px;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-position: under;
}

.footer__section3 .row {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__section3 .row2 {
    justify-content: space-around;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.social__item svg {
    transition-duration: 1s;
}

.social__item svg:hover {
    color: #ba0101 !important;
    filter: brightness(150%) hue-rotate(180deg);
}

.YMaps {
    width: 80%;
    max-width: 400px;
    border: 3px solid #ba0101;
    box-shadow: 3px 3px 15px black;
}

.footer__row {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    position: absolute;
    color: gray;
    bottom: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-left: 65px;
}

.footer__copyright p {
    font-size: 14px;
}

.toTop {
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #ba0101;
    color: white;
    z-index: 100;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.toTop svg {
    position: fixed;
    right: 38px;
    bottom: 80px;
}

.toTop:hover {
    color: #1a1a1a;
    border-bottom: 50px solid darkred;
}
