@font-face {
    font-family: 'GLYPHICONS Halflings';
    src: url('../fonts/glyphicons/GLYPHICONSHalflings-Regular.eot');
    src: url('../fonts/glyphicons/GLYPHICONSHalflings-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/glyphicons/GLYPHICONSHalflings-Regular.woff2') format('woff2'),
    url('../fonts/glyphicons/GLYPHICONSHalflings-Regular.woff') format('woff'),
    url('../fonts/glyphicons/GLYPHICONSHalflings-Regular.ttf') format('truetype'),
    url('../fonts/glyphicons/GLYPHICONSHalflings-Regular.svg#GLYPHICONSHalflings-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro/SourceSansPro-Regular.eot');
    src: url('../fonts/sourcesanspro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro/SourceSansPro-Regular.woff2') format('woff2'),
    url('../fonts/sourcesanspro/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/sourcesanspro/SourceSansPro-Regular.ttf') format('truetype'),
    url('../fonts/sourcesanspro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/sourcesanspro/SourceSansPro-Italic.eot');
    src: url('../fonts/sourcesanspro/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro/SourceSansPro-Italic.woff2') format('woff2'),
    url('../fonts/sourcesanspro/SourceSansPro-Italic.woff') format('woff'),
    url('../fonts/sourcesanspro/SourceSansPro-Italic.ttf') format('truetype'),
    url('../fonts/sourcesanspro/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}

input, select, button {
    outline: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: source sans pro, sans-serif;
    font-size: 16px;
}

::selection {
    background: #2c3e50;
    color: whitesmoke;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ba0101;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkred;
}

html {
    scroll-behavior: smooth;
}
