.header svg.coin{
    fill: goldenrod;
}

svg:not(:root) {
    overflow: hidden;
}

.header__settings-icon.coin{
    width: 16px;
    height: 16px;
    position: relative;
    top: 4px;
    margin: -3px 10px 0 0;
    opacity: 0.5;
}

.converter__select {
    border: none;
    background: none;
    color: #ffffff;
    width: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
}

.converter__select option {
    border: none;
    background: #2c3e50;
    color: #ba0101;
    font-weight: bold;
}

select::-ms-expand {
    display: none;
}
.select__div{
    position: relative;
}
.select__div:after {
    content: '<>';
    width: 14px;
    font: 14px "Consolas", monospace;
    color: #ba0101;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    left: 65px;
    border-bottom: 1px solid #ba0101;
    position: absolute;
    pointer-events: none;
    text-shadow: 1px -1px 2px black;
}
